.app-container .bannerContainer {
  width: 100%;
  height: 400px;
}
.app-container .bannerContainer.day {
  background: url("../images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.app-container .bannerContainer.night {
  background: url("../images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container .inner-container {
  margin: auto;
  max-width: 540px;
}

.day .container .inner-container .entry-form input.form-control {
  border: none;
  width: 440px;
  outline: none;
  background: white;
}

.night .container .inner-container .entry-form input.form-control {
  border: none;
  width: 440px;
  background: gray;
  outline: none;
  color: #fff;
}

.day .container .inner-container .entry-form {
  background: #fff;
  display: flex;
  max-width: 540px;
  padding: 24px;
  border-radius: 4px;
  border: 1px solid gray;
}

.night .container .inner-container .entry-form {
  background: gray;
  display: flex;
  max-width: 540px;
  padding: 24px;
  border-radius: 4px;
  color: #fff;
  border: 1px solid gray;
}

.day .container .inner-container .entry-form .circle {
  border: 1px solid black;
  width: 25px;
  height: 25px;
  border-radius: 40px;
  margin-right: 10px;
}

.night .container .inner-container .entry-form .circle {
  border: 1px solid #adadb4;
  width: 25px;
  height: 25px;
  border-radius: 40px;
  margin-right: 10px;
}

.container .inner-container .headerContainer {
  display: flex;
  justify-content: space-between;
  margin-top: -55%;
  align-items: center;
}

.inner-container .headerContainer h4 {
  font-size: 35px;
  color: #fff;
}